<h1>Edit Task List</h1>

<%= form_for @task_lists do |f| %>

  <% if @task_lists.errors[:name].any? %>
    <div class="errors">
      <h1>There was an error</h1>
      <% @task_lists.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit class: "form-button" %>
  </p>

<% end %>
