<h1>My Lists</h1>
<div><%= link_to "+ Add a Task List","/task_lists/new" %></div>

<p><%= flash[:notice] if flash[:notice] %></p>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %><p align="right"><%= link_to "Edit","/task_lists/#{task_list.id}/edit" %><br><%= link_to "+Add Task","/"%></p>
    </h1>
  </section>

<% end %>
