<h1>My Lists</h1>
<div><%= link_to "+ Add a Task List", "/task_lists/new" %></div>

<p><%= flash[:notice] if flash[:notice] %></p>
<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %>

      <button data-button="<%= task_list.id %>">Open</button>


      <p align="right"> <%= link_to "Edit", "/task_lists/#{task_list.id}/edit" %>
        <br><%= link_to "+Add Task", new_task_list_task_path(task_list.id) %></p>
    </h1>

    <ul class="task-list" data-task-list="<%= task_list.id %>">

      <% task_list.tasks.each do |task| %>
        <li>
          <%= task.task %> (<%= distance_of_time_in_words(task.due_date, Time.now) %>)
          <%= link_to "Delete", "/task_lists/#{ task_list.id }/tasks/#{ task.id }", :method => :delete %>
        </li>


      <% end %>
    </ul>

  </section>
<% end %>
