<h1>Add a Task List</h1>

<%= form_for @task_list do |f| %>

    <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>


<div class="container">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>
</div>
<div class="container">
  <%= f.submit "Create Task List" %>
</div>
<% end %>
