<h1>Add a Task List</h1>

<p><%= form_for @task_lists do |f| %>
  <% f.object.errors.messages.values.each do |error| %>
    <div class="errors">
      <%= error.first %>
  <% end %>
  </div>
  <div class="container">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="container">
    <%= f.submit "Create Task List" %>
  </div>
  </p>
<% end %>